h1, h2, h3 { // h1,h2,h3 are tag selectors
    font-weight : bold;
}

.bg-blue { // bg-blue is a class selector. background of this class is blue
    color : blue;
}

<link rel = "stylesheet" href = "style.css">

<h1 style = "color:blue">

<style>
h1 { color : blue; }
</style>


p1 {

    font-size: 20px;
    font-style:italic;
    font-weight:bold;
    font-family:verdana; 
}

div , span {
    text-align: left;
    letter-spacing: 2px;
    text-decoration: underline;
    font-size: 20px;
}

h1 {
    background: cyan;
}

h1 {
    border: 2px; border-thickness: 2px; border-color: pink; border-style: dotted; 
}

h1{
    border: 2px; padding: 10px; margin: 10px; background-color: cyan; width: 100px;
}

div {
    background-color: grey; border: 2px; border-color: pink; color: hotpink; width: 100px; padding: 10px;
    margin: 10px; transition: width 2s linear 0.5s;
}

table {
    border-collapse: collapse; width: 65%;
}

th, td {
    text-align: left; padding: 8px;
}

tr:nth-child (even) { background-color: #f2f2f2; }

th {
    background-color: #4CAF50; color: white;
}

div.fixed {
    position: fixed;
}

div{
    width: 100px; height: 10px; background: purple;
    position: relative; animation-name: cwh; animation-duration : 5s;
}

@keyframes cwh {
    0% {background: purple; left: 0px; top: 0px;}
    25% {background: red; left: 200px; top: 0px;}
    50% {background: blue; left: 200px; top: 100px;}
    75% {background: green; left: 150px; top: 0px;}
    100% {background: red; left: 0px; top: 0px;}
}

.flex-container {
    display: flex; background-color: lightgrey;
}

.flex-container {
    background-color: hotpink; margin: 10px; padding: 10px; display: flex;

}